---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="container">
      <div class="row">
        <Card title="Tres leches" src="/assets/img/tres-leches.jpg" />
        <Card title="Lemon Pie" src="/assets/img/lemonpie.jpg" />
        <Card title="Encebollado" src="/assets/img/encebollado.jpg" />
      </div>
    </div>
  </main>
</Layout>
