---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Whatsapp from "../components/Whatsapp.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="container">
      <h1 class="pt-3 d-flex justify-content-center position-relative">
        <img
          src="/assets/img/birthday-cake.png"
          class="me-5 position-absolute"
          style="left:0"
        />Pasteles deliciosos
      </h1>
      <div class="row">
        <Card
          title="Mojada de chocolate"
          src="/assets/img/cakes/tarta-humeda-chocolate.jpg"
          portions={12}
          price={35}
          diameter={25}
        />

        <Card
          title="Lemon Pie"
          src="/assets/img/cakes/lemonpie.jpg"
          portions={12}
          price={35}
          diameter={25}
        />
        <Card
          title="Crema y fresa"
          src="/assets/img/cakes/crema-y-fresa.jpg"
          portions={8}
          diameter={21}
          price={25}
        />
        <Card
          title="Tres leches"
          src="/assets/img/cakes/tres-leches.jpg"
          portions={12}
          price={40}
        />

        <Card
          title="Rollitos de canela"
          src="/assets/img/cakes/rollitos-canela.jpg"
          portions={12}
          price={20}
        />

        <!-- <Card title="Encebollado" src="/assets/img/encebollado.jpg" /> -->

        <Whatsapp />
      </div>
    </div>
  </main>
</Layout>
