---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { title, src, portions, price } = Astro.props;
---

<div class="col-md-4 mb-4">
  <div class="card">
    <img class="card-img-top" src={src} alt="Card image cap" />
    <div class="card-body">
      <p class="card-text">
        <p class="fw-bold text-center">{title}</p>
        <p class="d-flex justify-content-between">
          <span style="font-size:1rem">Raciones: {portions}</span>
          <span style="font-size:1rem">Price: {price}</span>
        </p>
      </p>
    </div>
  </div>
</div>
