---
---

<a
  href="https://wa.me/+34617164958?text=Hola!%20Quisiera%20más%20información."
  target="_blank"
  id="whatsapp-chat"
>
  <img src="/assets/img/whatsapp.png" alt="Chat de WhatsApp" />
</a>



<style>
  #whatsapp-chat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width:96px;
    height:96px;
  }

  #whatsapp-chat img{
width: 100%;
  }
</style>
